.navbar {
    background-color: transparent;
    border: none;
    text-align: center;
    
    
}
.header h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px
}
.header  {
    margin-top: -90px;
    padding: 100px;
    text-align: center;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    
}

.brand {
    color: white;
    text-align: center;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.nav-link {
    color: white;
    text-align: center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-links {
    color: white;
}

.text {
    font-family: bold;
}



footer {

    text-align: center;
    
}

.icons {
    text-align: center;
    margin-right: 20px;
    font-size: 25px;
    color: black;
}

.cp {
    margin-left: -20px;
}

a {
    color: white;
}
