.main-output {
    width: 600px;
    height: 600px;
    border-radius: 30%;
    text-align: center;
    margin: 300px 400px 50px 400px;
}

.main {
    text-align: center;
}

button {
    margin-top: 250px;
    padding: 20px;
    border-radius: 20%;
    background-color: green;
    color: yellow;
}